/* 基本スタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef; /* 明るいグレー */
}

.container {
    max-width: 90%; /* コンテナの幅を90%にして広く見せる */
    margin: 0 auto;
    padding: 30px; /* パディングを少し増やす */
    background: #ffffff; /* 白い背景 */
    border-radius: 8px; /* 角を少し丸める */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 影を少し強調 */
}

/* ラベルをブロック要素として指定 */
label {
    display: block; /* ラベルをブロック要素にして上下に配置 */
    margin-bottom: 10px; /* ラベルと入力ボックスの間のマージン */
    color: #495057; /* 落ち着いたダークグレー */
}

/* 入力ボックススタイル */
input, select {
    width: 100%; /* 幅を100%に */
    padding: 15px; 
    border: 1px solid #ced4da; /* 薄い境界 */
    border-radius: 5px; /* 角を丸める */
    box-sizing: border-box; 
    transition: border-color 0.3s; /* 境界の色のトランジション */
}

input:focus, select:focus {
    border-color: #007bff; /* フォーカス時に青色の境界を付ける */
    outline: none; /* デフォルトのアウトラインを消去 */
}

/* ボタンスタイル */
button:hover {
    background-color: #0056b3; /* ホバー時に濃い青に変わる */
}

/* 通常のボタンスタイル */
#submit-btn {
    background-color: #007bff; /* プライマリカラーとして青 */
    color: white; /* テキストを白に */
    border: none;
    border-radius: 5px; /* 角を丸める */
    cursor: pointer; /* カーソルをポインタに */
    padding: 15px; 
    font-size: 16px; 
    transition: background-color 0.3s; /* ホバー時の色のトランジション */
}

/* 無効状態のボタンスタイル */
#submit-btn:disabled {
    background-color: #8b93c5; /* 薄い緑青*/
    color: #e4ebef; /* 薄い文字色 */
    cursor: not-allowed; /* カーソルを禁止注意に */
}

.error-message {
    margin-top: 5px; /* 上のマージン */
}

/* 480px以下 */
@media (max-width: 480px) {
    input, select {
        width: 100%; /* 入力と選択の幅を100%にする */
        padding: 15px; /* パディングを増やす */
        box-sizing: border-box; /* パディングを含むようにする */
    }

    button {
        width: 100%; /* ボタンの幅を100%にする */
        padding: 15px; /* ボタンのパディングを増やす */
        font-size: 16px; /* ボタンのフォントサイズを調整 */
    }
}

/* 670px以下 */
@media (max-width: 670px) {
    input, select {
        padding: 15px;
    }

    button {
        padding: 15px;
    }
}

/* 970px以下 */
@media (max-width: 970px) {
    input, select {
        padding: 15px;
    }

    button {
        padding: 15px;
    }
}

/* 1280px以下 */
@media (max-width: 1280px) {
    .container {
        padding: 30px; /* パディングを増やす */
    }

    input, select, button {
        padding: 15px; /* 見た目を揃えるためにパディングを調整 */
    }
}

/* それ以上のサイズ */
@media (min-width: 1281px) {
    .container {
        padding: 40px;
        max-width: 800px; /* 最大幅を設定 */
    }

    input, select {
        padding: 15px;
    }

    button {
        padding: 15px; /* ボタンのパディング */
    }
}

/* 480px以上の場合の入力ボックスのサイズ調整 */
@media (min-width: 481px) {
    input, select {
        padding: 20px; /* パディングを増やして大きくする */
        font-size: 16px; /* フォントサイズを少し大きくする */
    }

    button {
        padding: 20px; /* ボタンのパディングも調整（オプション） */
    }
}